@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-one: #1F4B43;
    --bg-two: #E7C873;
    --bg-three: #EB664E;
    --bg-blue: #254EF0;
    --bg-one-hover: #163a33;
    --bg-two-hover: #e3b73d;
    --bg-blue-hover: #365cf5;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

section {
    scroll-margin-top: 100px;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    &-social {
        width: 20px;
        height: 20px;
        &-facebook {
            background-image: url(../img/icon/facebook.svg);
        }
        &-x {
            background-image: url(../img/icon/x.svg);
        }
        &-instagram {
            background-image: url(../img/icon/instagram.svg);
        }
        &-linkedin {
            background-image: url(../img/icon/linkedin.svg);
        }
    }
    &-dark {
        filter: invert(0%) sepia(0) saturate(0%) hue-rotate(0) brightness(0) contrast(100%);
    }
    &-check {
        background-image: url("../img/icon/confirm.svg");
        width: 20px;
        height: 20px;
    }
    &-arrow-right {
        background-image: url("../img/icon/arrow-right.svg");
        width: 20px;
        height: 20px;
    }
    &-location {
        background-image: url(../img/icon/location.svg);
    }
    &-bed {
        background-image: url(../img/icon/bed.svg);
    }
    &-bath {
        background-image: url(../img/icon/bath.svg);
    }
    &-square {
        background-image: url(../img/icon/square-meter.svg);
    }
    &-favorite {
        background-image: url(../img/icon/favorite.svg);
    }
}

.navbar {
    border-radius: 16px;
    @media (min-width: 992px) { 
        border-radius: 24px;
    }
}

.btn-main {
    outline: none;
    border: none;
    padding: 6px 12px;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius: 12px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: all 250ms;
    &-one {
        background-color: var(--bg-one);
        &:hover {
            background-color: var(--bg-one-hover);
        }
    }
    &-two {
        background-color: var(--bg-two);
        color: #000000;
        &:hover {
            background-color: var(--bg-two-hover);
        }
    }
    &-blue {
        background-color: var(--bg-blue);
        &:hover {
            background-color: var(--bg-blue-hover);
        }
    }
}

.hero-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    &-image {
        object-fit: cover;
        min-height: 100dvh;
        @media (min-width:  1200px) { 
            height: 100%;
        }
    }
    &-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        &-info {
            color: var(--bg-one);
            border: 1px solid var(--bg-one);
            border-radius: 40px;
            padding: 10px 20px;
            text-align: center;
            font-weight: 500;
        }
        &-title {
            color: var(--bg-one);
            font-weight: 600;
            font-size: 4rem;
        }
        &-desc {
            color: var(--bg-one);
        }
        &-search {
            position: relative;
            width: 100%;
            input {
                border: none;
                outline: none;
                color: #1a1a1a;
                padding: 15px 30px;
                width: 100%;
            }
            button {
                position: absolute;
                right: 5px;
                top: 5px;
                width: 44px;
                height: 44px;
                outline: none;
                border: none;
                background-color: var(--bg-two);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                .icon-search {
                    background-image: url("../img/icon/search.svg");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: block;
                    width: 15px;
                    height: 15px;
                }
            }
        }
        &-tag {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                border-radius: 70px;
                height: 50px;
                padding: 7px;
                span {
                    padding-right:10px ;
                    color: #1a1a1a;
                    font-weight: 500;
                }
                .tag-icon {
                    background-color: #ffffff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                }
            }
        }
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding-top: 2rem;
}

.product-card {
    position: relative;
    &-first-button {
        position: absolute;
        z-index: 1;
        background-color: var(--bg-one);
        margin: 15px;
        border-radius: 24px;
        color: #ffffff;
        padding: 5px 18px;
    }
    &-second-button {
        position: absolute;
        z-index: 1;
        background-color: var(--bg-two);
        margin: 15px;
        border-radius: 24px;
        color: #000000;
        padding: 5px 18px;
        font-size:medium;
        margin-left: 130px;
        
    }
    &-content {
        position: absolute;
        padding: 15px;
        background-color: #ffffff;
        z-index: 1;
        bottom: 20px;
        left: 25px;
        right: 25px;
        width: calc(100% - 50px);
        border-radius: 8px;
        &-bottom {
            justify-content: space-between;
            &-price {
                color:var(--bg-three);
            }
        }
    }
    &-image {
        img {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }
}

.find-product {
    position: relative;
    &-image {

        img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
        }
    }
    &-info {
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 25px;
        flex-direction: column;
        span {
            color: #ffffff;
            z-index: 1;
        }
    }
}

.swiper-pagination {
    &-bullet {
        background-color: #122223;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        &-active {
            position: relative;
            background-color: #122223;
            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                border: 1px solid #000000;
                transform: translate(-50% , -50%);
            }
        }  
    } 
}

.how-it-work {
    --card-radius : 16px;
    &-card {
        &-one {
            margin-bottom: 20px;
            position: relative;
            img {
                border-radius: var(--card-radius);
                object-fit: cover;
                width: 100%;
                height: 230px;
            }
            &-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                background-color: #ffffff;
                position: absolute;
                right: 40px;
                padding: 16px;
                border-radius: var(--card-radius);
                bottom: 0;
                transform: translateY(50%);
                
                
                
                &-text {
                    display: flex;
                    flex-direction: column;
                }
                &-icon {
                    background-color: #1F4B43;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding: 15px;
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        &-two {
            img {
                border-radius: var(--card-radius);
                aspect-ratio: 1;
                object-fit: cover;               
            }
        }
        &-three {
            img {
                border-radius: var(--card-radius);
                object-fit: cover;
            }
        }
    }
    &-right {
        gap: 30px;
        &-text {
            gap: 30px;
        }
        &-tag {
            &-property {
                .icon {
                    background-repeat: no-repeat;
                    width: 35px;
                    height: 35px;
                    display: block;
                    position: relative;
                    padding-right: 50px;
                    &-home {
                        background-image: url(../img/icon/home.svg);
                    }
                    &-meet {
                        background-image: url(../img/icon/meet.svg);
                    }
                    &-key {
                        background-image: url(../img/icon/key.svg);
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        background-color: var(--bg-two);
                        z-index: -1;
                        border-radius: 50%;
                        width: 27px;
                        height: 27px;
                        display: block;
                        transform: translate(-50% , 50%);
                    }
                }
            }
        }
        &:hover &-tag-property-icon-home::before {
            background-color: green;
        }
    }
}

.should-work {
    background-color: #fff8f6;
    &-image {
        border-radius: 16px;
        overflow: hidden;
        &:hover img {
            transform: scale(1.1);
        }
        &-one {
            margin-bottom: 24px;
        }
        &-two {
            margin-top: 120px;
        }
        img {
            width: 100%;
            height: 100%;
            transition: all 250ms;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: var(--bg-two);
            border-radius: 16px;
            padding: 24px;
            margin-left: 100px;
            &-icon {
                background-color: var(--bg-one);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }
    }
    &-content {
        &-icon {
            background-color: #ffffff;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            .icon-check {
                width: 15px;
                height: 15px;
            }
        }
    }
}

.discover-place {
    background-image: url(../img/discover-place/place-1.jpg);
    background-attachment:fixed ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    &-content {
        color: #000000;
        &-button {
            background-color: var(--bg-blue);
            border-radius: 10px;
            color: #ffffff;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
    &::after {
        content: '';
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center;
    }
    &:hover::after {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.these-cities {
    &-image {
        &-big , &-small {
            display: flex;
            position: relative;
            width: 100%;
            &-content {
                position: absolute;
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(15px);
                color: #ffffff;
                bottom: 5%;
                left: 5%;
                right: 5%;
                padding: 8px;
                padding-left: 30px;
                width: calc(100% - 10%);
                border-radius: 16px;
            }
            img {
                border-radius: 12px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

footer {
    background-color:#F9F9F9;
}

.real-estate {
    background-image: url(../img/liste-header/liste-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.renk {
    color: var(--bg-two);
}

.property-card {
    border: 0.1px solid #E9E9E9;
    border-radius: 16px;
    width: 100%;
    &-image {
        position: relative;
        img {
            border-radius: 16px 16px 0 0;
            object-fit: cover;
            width: 100%;
        }
        &-tag {
            position: absolute;
            gap: 10px;
            display: flex;
            padding: 10px;
        }
    }
    &-content {
        &-top {
            &-icons {
                &-one , &-two , &-three {
                    border: 0.3px solid #E9E9E9;
                    padding: 3px 10px;
                    border-radius: 20px;
                }
            }
        }
        &-bottom {
            span , small {
                color: var(--bg-three);
                display: flex;
                align-items: flex-end;
            }
            &-favorite {
                border: 1px solid #E9E9E9;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 250ms;
                &:hover , &.active {
                    border: 1px solid #ff0000;
                    cursor: pointer;
                    i {
                        background-image: url(../img/icon/favorite-active.svg);
                    }
                }
            }
        }
    }
    &:hover {
        background-color: #edeaea80;
        box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    }
}

.property-filter {
    border: 1px solid #000000;
    border-radius: 24px;
    padding: 8px;
    position: sticky;
    top: 100px;
    left: 100px;
    height: calc(100dvh - 120px);
    z-index: 999;
    &-content {
        border-bottom: 1px solid #e6e5e5;
        margin-bottom: 10px;
        padding-bottom: 10px;
        &-title {
            font-size: 1.3rem;
            font-weight: 500;
        }
        &-elements {
            .form-check {
                transition: all 300ms;
                padding-left: 10px;
                &-input {
                    display: none;
                    &:checked + label {
                        background-color: #000000;
                        color: #fff;
                        padding-left: 5px;
                        border-radius: 4px;
                    }
                }
            }
            .filter-link {
                a {
                    display: block;
                    color: #2a2929;
                    text-decoration: none;
                    transition: all 200ms;
                    padding-left: 10px;
                    &:hover {
                        padding-left: 20px;
                        color:#000000;
                        font-weight: 450;
                    }
                }
            }
            
        }
    }
}

.soccer-card {
    position: relative;
    &-image {
        img {
            border-radius: 16px;
        }
        &-info {
            &-dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #fff;
                z-index: 2;
            }
        }
    }
    
}